<form
  [formGroup]="registerForm"
  (submit)="register()"
  class="card-login-content"
>
  <mat-form-field>
    <mat-label>NOMBRE</mat-label>
    <input
      matInput
      [(ngModel)]="this.textValue"
      placeholder="name"
      formControlName="name"
      #input
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>EMAIL</mat-label>
    <input
      matInput
      [(ngModel)]="this.textValue"
      placeholder="email"
      formControlName="email"
      #input
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>PASSWORD</mat-label>
    <input
      matInput
      [(ngModel)]="this.textValue"
      placeholder="password"
      formControlName="password"
      #input
    />
  </mat-form-field>

  <button>Register</button>
</form>
