.sidenav-container {
  height: 100%;
  background: rgba(226, 226, 226, 0.507);
}
.sidenav {
  width: 200px;
  box-shadow: 2px 0px 16px rgba(117, 114, 150, 0.15);
}

.text-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
  width: 122.03px;
  height: 30.75px;

  text-decoration: #131340;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.container-toolbar {
  display: flex;
  flex-direction: row;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ffffff;
  box-shadow: 2px 4px 15px rgba(152, 152, 152, 0.15);
}

.btn-nuevo-experto {
  height: 2.5rem;
  width: 10rem;
  border: 2px solid #0ed28c;
  border-radius: 4px;
  color: #fff;
  background-color: #0ed28c;
  &:hover {
    color: yellow;
    cursor: pointer;
  }
}
